.textarea-post {
  padding: 20px;
  font-size: 4em;
  text-align: center;
  width: 100%;
  height: 100%;
}

.textarea-post::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controls button {
  background: transparent;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.controls .send {
  width: 120px;
  height: 120px;
  font-size: 1.5em;
  background: tomato;
  color: white;
  border-radius: 60px;
}

.controls .styles {
  width: 50px;
  height: 50px;
}

.controls .styles.text {
  background: black;
  font-size: 1.5em;
  color: white;
  border: 5px solid rgba(200, 200, 200, 0.5);
  border-radius: 10px;
}
