.camera {
  position: relative;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.switch {
  position: absolute;
  bottom: 10%;
  right: 10%;
  background: transparent;
  border: 0;
  font-size: 4em;
  color: red;
}
