.PostDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.PostDetails header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.PostDetails footer {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
